doctype html
html
  head
    meta(charset="UTF-8")
    title DifficultHTTPServer

    link(href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700" rel="stylesheet")
    link(href="https://cdn.rawgit.com/daneden/animate.css/d8144b9507793620360dc4ce766a8e51f86561a8/animate.css" rel="stylesheet")
      
    //- script(src="pkgs.js")
    script(src="index.js")
    link(href="index.css" rel="stylesheet")
  body
    main
      yield
